body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #808fff, #2469ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container > section {
    flex: 0 0 300px;
    max-width: 300px;
}

.header{
    text-align: center;
    text-shadow: 2px 2px 4px rgb(89, 93, 113);
    margin-top: 100px;
    margin-bottom: 40px;
    color: whitesmoke;
}

.ReplaceSpace-container, .SearchWord-container, .Replace-container, .Count-container, .includes-container{
    margin: 20px auto;
    width: 300px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;
}

hr{
    width: 80%;
}

.footer{
    text-align: center;
    color: whitesmoke;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #138ffc;
    color: white;
    cursor: pointer;
    box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
}

h2{
    color: #6482f7
}

@media (max-width: 600px) {
    .container > section {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
